<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found!</title>
        <link rel = "stylesheet" href = "/css/styles.css">
        <link rel = "icon" href = "/img/weather.png"> 
    </head>

    <body>
        
        <header>
            <h3>{{welcome}}</h3>               
            <h1>{{title}}</h1>            
        </header>

        <div class = "mainContent">
            <p>{{errorMessage}}</p>
            <p>
                <a href="/"> Back to Home</a>
            </p>
        </div>

        <footer>
            <p>Created by {{name}}</p>
        </footer>
        
    </body>
</html>